# Secrets
**/*.env*
**/secret

# Node dev
**/node_modules/

# Python dev
venv/
**/__pycache__/
.mypy_cache/
mypy.ini

# Database
.data

# Docs
**/*.md

# Git
.git
.gitignore

# IDE/OS stuff
.idea/
**/.DS_Store
