gunicorn==20.1.0
mysqlclient==2.1.1

# Django and related
Django==3.2.14
django-csp==3.7 # For Content Security Policy
django-db-file-storage==0.5.5 # Support for storage in the database
django-mysql==4.7.0
django-tinymce==3.4.0 # Rich text editor
django-webpack-loader==1.6.0
Pillow==9.2.0
whitenoise==6.2.0 # For serving static files

# DRF
djangorestframework==3.13.1
django-filter==22.1 # Filtering support
drf-spectacular==0.22.1
markdown==3.4.1 # Markdown support for the browsable API

# LTI
pycryptodome==3.15.0 # For generating LTI keys
PyLTI1p3==1.11.0

# Canvas
canvasapi==2.2.0

# Not in pypi https://github.com/Harvard-University-iCommons/django-canvas-oauth
https://github.com/Harvard-University-iCommons/django-canvas-oauth/archive/v1.1.0.tar.gz
