gunicorn

Django
django-webpack-loader
mysqlclient
django-db-file-storage # Support for storage in the database
Pillow # Needed for images
django-tinymce # Rich text editor

# DRF
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support

#LTI 
PyLTI1p3==1.9.1

# For serving static files
whitenoise==5.3.0
