Django
django-webpack-loader
mysqlclient
django-db-file-storage # Support for storage in the database
Pillow # Needed for images

# DRF
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
