.Ratings__root__pt884 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px;
}
.Ratings__root__pt884 > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.Ratings__root__pt884 > .__wab_flex-container > *,
.Ratings__root__pt884 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 8px;
}
.Ratings__freeBox__izHFx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.Ratings__freeBox__izHFx > .__wab_flex-container {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.Ratings__freeBox__izHFx > .__wab_flex-container > *,
.Ratings__freeBox__izHFx > .__wab_flex-container > .__wab_slot > * {
  margin-left: 5px;
}
.Ratings__svg__cBbLv {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
  flex-shrink: 0;
}
.Ratings__svg__hEl5P {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
  flex-shrink: 0;
}
.Ratings__svg___42Gi3 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
  flex-shrink: 0;
}
.Ratings__svg__sMn3L {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
  flex-shrink: 0;
}
.Ratings__svg__byyuC {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
  flex-shrink: 0;
}
.Ratings__svg__deMyc {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: azl3ae3H8I0lq */;
  flex-shrink: 0;
}
.Ratings__svg___7RqGi {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: azl3ae3H8I0lq */;
  flex-shrink: 0;
}
.Ratings__svg__dzAub {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: azl3ae3H8I0lq */;
  flex-shrink: 0;
}
.Ratings__svg__ip6Iz {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: azl3ae3H8I0lq */;
  flex-shrink: 0;
}
.Ratings__svg__dwVrb {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: azl3ae3H8I0lq */;
  flex-shrink: 0;
}
.Ratings__slotNumReviews__wb8KQ {
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: IEq73-85UDTyg */;
}
