.AddRemoveButton__root___2GPd2 {
  width: 180px;
  color: #fffafa;
  text-align: center;
  position: relative;
  background: linear-gradient(#04a81f, #04a81f),
    linear-gradient(#2bc744, #2bc744), #015906;
  font-weight: 700;
  height: 40px;
  font-size: 23px;
  border-radius: 5px;
  padding: 3px;
}
.AddRemoveButton__rootremoveToolFromSite___2GPd2Vv3Fi {
  background: linear-gradient(var(--token-KUP1ALzL2), var(--token-KUP1ALzL2)),
    linear-gradient(#2bc744, #2bc744), #015906;
  width: 180px;
}
