.Home__root__rfWi8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.Home__textInput__kcHjj {
  position: relative;
  width: 180px;
}
.Home__appContainer___8LuQk {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 2000px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.Home__header__iXzGr.__wab_instance {
  position: relative;
}
.Home__searchInputComponent___9RY3I.__wab_instance {
  position: relative;
}
.Home__textInput__y0QeV {
  position: relative;
  width: 180px;
}
.Home__caeDescriptionContainer__d20ZQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.Home__text__k3LxN {
  position: relative;
  color: var(--token-NEon4Y--Z);
  font-size: 25px;
  font-weight: 700;
  left: auto;
  top: auto;
  margin-top: 0px;
  background: none;
  width: 100%;
  height: 30px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__text__k3LxN {
    margin-top: 100px;
  }
}
.Home__productCardContainer___92DMt {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  flex-shrink: 0;
  flex-grow: 1;
  left: auto;
  top: auto;
  align-self: center;
  z-index: 1;
  min-width: 0;
  padding: 0%;
  margin: 0px 25px 25px;
}
.Home__productCardContainer___92DMt > .__wab_flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: unset;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.Home__productCardContainer___92DMt > .__wab_flex-container > *,
.Home__productCardContainer___92DMt > .__wab_flex-container > .__wab_slot > *,
.Home__productCardContainer___92DMt > .__wab_flex-container > picture > img,
.Home__productCardContainer___92DMt
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt > .__wab_flex-container {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt > .__wab_flex-container > *,
  .Home__productCardContainer___92DMt > .__wab_flex-container > .__wab_slot > *,
  .Home__productCardContainer___92DMt > .__wab_flex-container > picture > img,
  .Home__productCardContainer___92DMt
    > .__wab_flex-container
    > .__wab_slot
    > picture
    > img {
    margin-left: 0px;
  }
}
.Home__productCard__rs0.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.Home__img__bxIsS {
  position: relative;
  object-fit: cover;
  width: 338px;
  height: auto;
  border: 0px solid var(--token-RZT0kXS0Ln7NE);
}
.Home__img__bxIsS > picture > img {
  object-fit: cover;
}
.Home__img__bxIsS > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__hMtG4.__wab_instance {
  position: relative;
}
.Home__titleLearnMoreButton__da0Es.__wab_instance {
  max-width: 100%;
  position: relative;
  display: flex;
}
.Home__exitLearnMoreButton___2Ciy0.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__addRemoveButton__zjhwn.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  display: block;
}
.Home__productCard__x4KCz.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.Home__img__jWwVn {
  position: relative;
  object-fit: cover;
  width: 338px;
  height: auto;
  border: 0px solid var(--token-RZT0kXS0Ln7NE);
}
.Home__img__jWwVn > picture > img {
  object-fit: cover;
}
.Home__img__jWwVn > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__lqtfC.__wab_instance {
  position: relative;
  display: flex;
}
.Home__text__xoujE {
  height: auto;
}
.Home__learnMoreButton__iruQe.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
}
.Home__titleLearnMoreButton__yWKc5.__wab_instance {
  max-width: 100%;
  position: relative;
  display: flex;
}
.Home__exitLearnMoreButton___2ZV1H.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__addRemoveButton__jsxiu.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  display: block;
}
.Home__productCard___0SViq.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.Home__img__mlvsL {
  position: relative;
  object-fit: cover;
  width: 338px;
}
.Home__img__mlvsL > picture > img {
  object-fit: cover;
}
.Home__img__mlvsL > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings___9CwbV.__wab_instance {
  position: relative;
}
.Home__addRemoveButton__sxoGm.__wab_instance {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  display: block;
}
.Home__learnMoreButton__e5Gv.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
}
.Home__titleLearnMoreButton__qTdBv.__wab_instance {
  max-width: 100%;
  position: relative;
  display: flex;
}
.Home__exitLearnMoreButton__aaa5W.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__addRemoveButton__tlGli.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  display: block;
}
.Home__productCard__w406.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.Home__img__z9TaY {
  position: relative;
  object-fit: cover;
  width: 338px;
  border: 0px solid var(--token-RZT0kXS0Ln7NE);
}
.Home__img__z9TaY > picture > img {
  object-fit: cover;
}
.Home__img__z9TaY > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__xVvjP.__wab_instance {
  position: relative;
}
.Home__learnMoreButton___8YAdl.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
}
.Home__titleLearnMoreButton__hj2Jd.__wab_instance {
  max-width: 100%;
  position: relative;
  display: flex;
}
.Home__exitLearnMoreButton__wzhYw.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__addRemoveButton__cBf48.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  display: block;
}
.Home__productCard___2HUs2.__wab_instance {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.Home__img__th5P8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.Home__img__th5P8 > picture > img {
  object-fit: cover;
}
.Home__img__th5P8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__ss5S9.__wab_instance {
  position: relative;
}
.Home__addRemoveButton__uibYo.__wab_instance {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  display: block;
}
.Home__titleLearnMoreButton__fZAk.__wab_instance {
  max-width: 100%;
  position: relative;
  display: flex;
}
.Home__exitLearnMoreButton__u6H9.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__addRemoveButton__yifei.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  display: block;
}
.Home__footer__sUgvZ.__wab_instance {
  position: relative;
  display: flex;
}
.Home__textInput__triAl {
  position: relative;
  width: 180px;
}
