.IconLink__root__hNXrN {
  display: flex;
  width: 32px;
  height: 32px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.IconLink__freeBox__lxcJr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
}
.IconLink__slotIcon___3P9Db {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.IconLink__svg__tYDo {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: 2HX8dakuYo2K9 */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
