.LearnMoreCard__root__voRrI {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.LearnMoreCard__box__w6Dx1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 538px;
  flex-shrink: 0;
  border: 3px solid #08244c /* plasmic-token: HxoWIRXur */;
}
.LearnMoreCard__box__qw270 {
  position: relative;
  text-align: left;
  width: 350px;
  padding: 5px;
}
.LearnMoreCard__box__o9T3 {
  position: relative;
  width: 350px;
  padding: 5px;
}
.LearnMoreCard__box___7N0Lr {
  position: relative;
  width: 350px;
  padding: 5px;
}
.LearnMoreCard__box___4Fl3 {
  position: relative;
  width: 350px;
  padding: 5px;
}
.LearnMoreCard__box__amH9 {
  position: relative;
  height: 100px;
  width: auto;
  display: inline-block;
  flex-shrink: 0;
  padding: 5px;
}
