.LearnMoreButton__root__njoaf {
  width: 110px;
  color: #fffdfd;
  height: 30px;
  text-align: center;
  position: relative;
  background: var(--token-HxoWIRXur);
  display: block;
  padding: 3px;
}
