.Home__root__rfWi8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.Home__textInput__kcHjj {
  position: relative;
  width: 180px;
}
.Home__appContainer___8LuQk {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 2000px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.Home__header__iXzGr.__wab_instance {
  position: relative;
}
.Home__textInput__y0QeV {
  position: relative;
  width: 180px;
}
.Home__caeDescriptionContainer__d20ZQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.Home__text__k3LxN {
  position: relative;
  color: #535353 /* plasmic-token: saq7am270 */;
  font-size: 25px;
  font-weight: 500;
  left: auto;
  top: auto;
  margin-top: 0px;
  background: rgb(234, 234, 234);
  width: 100%;
  min-width: 0;
  padding: 20px 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__text__k3LxN {
    margin-top: 100px;
  }
}
.Home__productCardContainer___92DMt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow: visible;
  flex-shrink: 0;
  flex-grow: 1;
  left: auto;
  top: auto;
  align-self: center;
  z-index: 1;
  min-width: 0;
  padding: 0%;
  margin: 0px 25px 25px;
}
.Home__productCardContainer___92DMt > .__wab_flex-container {
  flex-direction: row;
  align-items: unset;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.Home__productCardContainer___92DMt > .__wab_flex-container > *,
.Home__productCardContainer___92DMt > .__wab_flex-container > .__wab_slot > *,
.Home__productCardContainer___92DMt > .__wab_flex-container > picture > img,
.Home__productCardContainer___92DMt
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt > .__wab_flex-container {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__productCardContainer___92DMt > .__wab_flex-container > *,
  .Home__productCardContainer___92DMt > .__wab_flex-container > .__wab_slot > *,
  .Home__productCardContainer___92DMt > .__wab_flex-container > picture > img,
  .Home__productCardContainer___92DMt
    > .__wab_flex-container
    > .__wab_slot
    > picture
    > img {
    margin-left: 0px;
  }
}
.Home__zoomCard__foQyr.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .Home__zoomCard__foQyr.__wab_instance {
    flex-shrink: 0;
  }
}
.Home__img__zw5Ho {
  position: relative;
  object-fit: cover;
  width: 338px;
  height: auto;
  border: 0px solid rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
}
.Home__img__zw5Ho > picture > img {
  object-fit: cover;
}
.Home__img__zw5Ho > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__yXulX.__wab_instance {
  position: relative;
}
.Home__img__zZtPf {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 180px;
  align-self: auto;
}
.Home__img__zZtPf > picture > img {
  object-fit: cover;
}
.Home__img__zZtPf > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__text__c1Y5M {
  background: #ffffff;
  padding: 0px 15px;
}
.Home__text__dHRrw {
  height: auto;
}
.Home__text__pkIjF {
  height: auto;
}
.Home__learnMoreButton__j6ASy.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
}
.Home__img__sjNy9 {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
}
.Home__img__sjNy9 > picture > img {
  object-fit: contain;
}
.Home__img__sjNy9 > .__wab_img-spacer > img {
  object-fit: contain;
}
.Home__exitLearnMoreButton___317Ld.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__myLaCard__gpGZx.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  flex-shrink: 0;
}
.Home__img__psMY {
  position: relative;
  object-fit: cover;
  width: 338px;
  height: auto;
  border: 0px solid rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
}
.Home__img__psMY > picture > img {
  object-fit: cover;
}
.Home__img__psMY > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings__iUUiJ.__wab_instance {
  position: relative;
  display: flex;
}
.Home__img__u0Ib1 {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 180px;
  align-self: auto;
}
.Home__img__u0Ib1 > picture > img {
  object-fit: cover;
}
.Home__img__u0Ib1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__text__jl7El {
  padding: 0px 15px;
}
.Home__text__vTgLe {
  height: auto;
}
.Home__learnMoreButton__zzOgr.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
  display: block;
}
.Home__img__xvJc3 {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
}
.Home__img__xvJc3 > picture > img {
  object-fit: contain;
}
.Home__img__xvJc3 > .__wab_img-spacer > img {
  object-fit: contain;
}
.Home__exitLearnMoreButton__qz5Mn.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__productCard__wcXOk.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.Home__img__vWbX {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 257px;
  align-self: center;
}
.Home__img__vWbX > picture > img {
  object-fit: cover;
}
.Home__img__vWbX > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__text___7Xnkd {
  padding: 0px 15px;
}
.Home__img__zTJvN {
  position: relative;
  object-fit: cover;
  width: 338px;
}
.Home__img__zTJvN > picture > img {
  object-fit: cover;
}
.Home__img__zTJvN > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings___9CDd9.__wab_instance {
  position: relative;
}
.Home__addRemoveButton__jjfRn.__wab_instance {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  display: block;
}
.Home__learnMoreButton__wWg7P.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
  display: block;
}
.Home__img___9KXln {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
}
.Home__img___9KXln > picture > img {
  object-fit: contain;
}
.Home__img___9KXln > .__wab_img-spacer > img {
  object-fit: contain;
}
.Home__exitLearnMoreButton__g2Xoz.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__piazzaCard___71L95.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.Home__img__fApwR {
  position: relative;
  object-fit: cover;
  width: 338px;
  border: 0px solid rgb(239, 206, 74) /* plasmic-token: RZT0kXS0Ln7NE */;
}
.Home__img__fApwR > picture > img {
  object-fit: cover;
}
.Home__img__fApwR > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__ratings___14DWe.__wab_instance {
  position: relative;
}
.Home__img__eqcPf {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 180px;
  align-self: auto;
}
.Home__img__eqcPf > picture > img {
  object-fit: cover;
}
.Home__img__eqcPf > .__wab_img-spacer > img {
  object-fit: cover;
}
.Home__text__qBpZp {
  padding: 0px 15px;
}
.Home__learnMoreButton__gJp8G.__wab_instance {
  position: absolute;
  top: 14px;
  left: 21px;
  display: block;
}
.Home__img__oJq2O {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
}
.Home__img__oJq2O > picture > img {
  object-fit: contain;
}
.Home__img__oJq2O > .__wab_img-spacer > img {
  object-fit: contain;
}
.Home__exitLearnMoreButton__kxI2J.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__footer__sUgvZ.__wab_instance {
  position: relative;
  display: flex;
}
.Home__textInput__triAl {
  position: relative;
  width: 180px;
}
