.ScreenshotBackground__root__urUwk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
  min-width: 0;
  background: #e3e7f1;
  border: 0px solid #f6c904 /* plasmic-token: LQ-uqgqHX */;
}
.ScreenshotBackground__img___96UW3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ScreenshotBackground__box__vqI05 {
  display: flex;
  position: absolute;
  left: auto;
  top: 20px;
  right: 0px;
  height: 30px;
  width: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgb(233, 156, 46);
}
.ScreenshotBackground__box__gSnZs {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: q3GGh67XP5qyE */;
}
.ScreenshotBackground__box__on4Ip {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: auto;
  width: 100%;
  bottom: 0px;
  height: 35px;
  min-width: 0;
  padding: 10px;
  background: rgb(50, 52, 54);
}
.ScreenshotBackground__box__on4Ip > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.ScreenshotBackground__box__on4Ip > .__wab_flex-container > *,
.ScreenshotBackground__box__on4Ip > .__wab_flex-container > .__wab_slot > * {
  margin-left: 10px;
}
.ScreenshotBackground__svg__jKeBo {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: q3GGh67XP5qyE */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.ScreenshotBackground__box__cgK9F {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255) /* plasmic-token: q3GGh67XP5qyE */;
  min-width: 0;
}
.ScreenshotBackground__svg___84Ou9 {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: q3GGh67XP5qyE */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.ScreenshotBackground__svg__fyH0K {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: q3GGh67XP5qyE */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
