.Screenshot__root__mhd7D {
  object-fit: cover;
  width: 340px;
  position: relative;
}
.Screenshot__root__mhd7D > picture > img {
  object-fit: cover;
}
.Screenshot__root__mhd7D > .__wab_img-spacer > img {
  object-fit: cover;
}
