.LinkButton__root__yNFi {
  display: flex;
  width: 168px;
  height: 58px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.LinkButton__roottype_solidOrange__yNFiI5Pxg {
  background: var(--token-v9gSiCR22bb3A);
}
.LinkButton__roottype_solidGray__yNFiGiboD {
  background: var(--token-2HX8dakuYo2K9);
}
.LinkButton__roottype_outlineGray__yNFiVqldC {
  border: 1px solid var(--token-2HX8dakuYo2K9);
}
.LinkButton__rootsize_small__yNFiSQAk {
  width: 100px;
  height: 48px;
}
.LinkButton__roottype_solidOrange__yNFiI5Pxg:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid var(--token-v9gSiCR22bb3A);
}
.LinkButton__roottype_solidGray__yNFiGiboD:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid var(--token-2HX8dakuYo2K9);
}
.LinkButton__roottype_blankOrange__yNFi2KHft:hover {
  border: 1px solid var(--token-v9gSiCR22bb3A);
}
.LinkButton__roottype_outlineGray__yNFiVqldC:hover {
  background: var(--token-2HX8dakuYo2K9);
}
.LinkButton__slotTargetTexttype_solidOrange__ewQcHi5Pxg {
  color: var(--token-maWCPk1v_oCK);
}
.LinkButton__slotTargetTexttype_solidGray__ewQcHGiboD {
  color: var(--token-q3GGh67XP5qyE);
}
.LinkButton__slotTargetTexttype_blankOrange__ewQcH2KHft {
  color: var(--token-v9gSiCR22bb3A);
}
.LinkButton__slotTargetTexttype_outlineGray__ewQcHVqldC {
  color: var(--token-9j2PdiEqfGpzF);
}
.LinkButton__slotTargetTexttype_blankGray__ewQcHff2A {
  color: var(--token-9j2PdiEqfGpzF);
}
.LinkButton__roottype_solidOrange__yNFiI5Pxg:hover
  .LinkButton__slotTargetTexttype_solidOrange__ewQcHi5Pxg {
  color: var(--token-v9gSiCR22bb3A);
}
.LinkButton__roottype_solidGray__yNFiGiboD:hover
  .LinkButton__slotTargetTexttype_solidGray__ewQcHGiboD {
  color: var(--token-9j2PdiEqfGpzF);
}
.LinkButton__roottype_outlineGray__yNFiVqldC:hover
  .LinkButton__slotTargetTexttype_outlineGray__ewQcHVqldC {
  color: var(--token-q3GGh67XP5qyE);
}
.LinkButton__roottype_blankGray__yNFiff2A:hover
  .LinkButton__slotTargetTexttype_blankGray__ewQcHff2A {
  color: var(--token-v9gSiCR22bb3A);
}
