.SearchInputComponent__root__f4YV {
  width: 180px;
  position: relative;
}
.SearchInputComponent__rootwithSearchBar__f4YV6FlrH {
  font-style: italic;
  background: var(--token-3dsm_UqzX);
  color: var(--token-NEon4Y--Z);
  text-decoration-line: none;
  font-family: "Roboto", sans-serif;
  height: 50px;
  width: 300px;
  font-size: 25px;
  max-width: none;
  border-radius: 5px;
  padding: 10px;
}
