.ProductCard__root___1U08P {
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 938px;
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  background: var(--token-q3GGh67XP5qyE);
  padding-left: 10px;
  padding-right: 18px;
  border: 3px solid var(--token-HxoWIRXur);
}
.ProductCard__root___1U08P > .__wab_flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.ProductCard__root___1U08P > .__wab_flex-container > *,
.ProductCard__root___1U08P > .__wab_flex-container > .__wab_slot > *,
.ProductCard__root___1U08P > .__wab_flex-container > picture > img,
.ProductCard__root___1U08P
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-top: 10px;
}
.ProductCard__rootwithReviews___1U08PvvVo9 {
  height: 600px;
  width: 350px;
}
.ProductCard__rootwithoutScreenshot___1U08PUtYkz {
  height: 300px;
  width: 350px;
}
.ProductCard__rootlearnMore___1U08POklBv {
  width: 475px;
  overflow: hidden;
  height: 1131px;
  padding-top: 0px;
  margin-top: 0px;
}
.ProductCard__rootonlyLearnMore___1U08PtEu15 {
  width: 350px;
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ {
  height: 300px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > *,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > .__wab_slot
  > *,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > picture
  > img,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-left: 0px;
  margin-top: 30px;
}
.ProductCard__rootlearnMoreWithAddRemove___1U08PliXrj {
  width: 475px;
  overflow: hidden;
  height: 1100px;
}
.ProductCard__learnMoreTool__uqWdz.__wab_instance {
  position: relative;
}
.ProductCard__freeBox__fjr2W {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__kpIdU {
  position: relative;
}
.ProductCard__freeBox__fGeZt {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__t9Ot {
  position: relative;
}
.ProductCard__freeBox__pdlFp {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__pcpps {
  position: relative;
}
.ProductCard__freeBox___5MRxG {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__tCd2V {
  position: relative;
}
.ProductCard__freeBox__oShwi {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__wABx5 {
  position: relative;
}
.ProductCard__screenshotBackground__gjUdG.__wab_instance {
  position: relative;
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundwithReviews__gjUdGvvVo9.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundwithoutScreenshot__gjUdGutYkz.__wab_instance {
  width: 0px;
  height: 0px;
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundlearnMore__gjUdGOklBv.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundonlyLearnMore__gjUdGtEu15.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundwithoutScreenshotButtons__gjUdG5HQgZ.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__screenshotBackgroundlearnMoreWithAddRemove__gjUdGliXrj.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz {
  font-size: 16px;
}
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz > *,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz > .__wab_slot > *,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz
  > .__wab_slot
  > .__wab_slot
  > *,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz > picture > img,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz
  > .__wab_slot
  > picture
  > img,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.ProductCard__slotTargetImagewithoutScreenshot__bjvknutYkz
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  display: none;
}
.ProductCard__img__z4Zz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ProductCard__img__z4Zz > picture > img {
  object-fit: cover;
}
.ProductCard__img__z4Zz > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__ratings__yXQd.__wab_instance {
  position: relative;
}
.ProductCard__freeBox__sbbu9 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.ProductCard__freeBox__sbbu9 > .__wab_flex-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.ProductCard__freeBox__sbbu9 > .__wab_flex-container > *,
.ProductCard__freeBox__sbbu9 > .__wab_flex-container > .__wab_slot > *,
.ProductCard__freeBox__sbbu9 > .__wab_flex-container > picture > img,
.ProductCard__freeBox__sbbu9
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-top: 10px;
}
.ProductCard__slotTargetTitle__kXepm {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--token-9j2PdiEqfGpzF);
}
.ProductCard__freeBox__wMuGj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 254px;
}
.ProductCard__freeBoxonlyLearnMore__wMuGJtEu15 {
  position: relative;
  left: auto;
  top: auto;
}
.ProductCard__freeBoxaddAndLearnMore__wMuGJfhLQo {
  margin-right: 15px;
}
.ProductCard__freeBoxwithoutScreenshotButtons__wMuGj5HQgZ {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 45px;
  top: 182px;
}
.ProductCard__linkButton__cT7H.__wab_instance {
  position: relative;
  width: 135px;
  flex-shrink: 0;
}
.ProductCard__linkButtonwithoutScreenshot__cT7HUtYkz.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__linkButtonlearnMore__cT7HOklBv.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__linkButtononlyLearnMore__cT7HtEu15.__wab_instance {
  flex-shrink: 0;
  display: flex;
}
.ProductCard__linkButtonaddAndLearnMore__cT7HfhLQo.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__linkButtonwithoutScreenshotButtons__cT7H5HQgZ.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__linkButtonlearnMoreWithAddRemove__cT7HliXrj.__wab_instance {
  flex-shrink: 0;
}
.ProductCard__addRemoveButton___794LZ.__wab_instance {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  display: block;
}
.ProductCard__img__bTZld {
  position: relative;
  object-fit: cover;
}
.ProductCard__img__bTZld > picture > img {
  object-fit: cover;
}
.ProductCard__img__bTZld > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__freeBox__aSszv {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ProductCard__text__bjM9S {
  position: relative;
}
.ProductCard__learnMoreInfoContainer___6GSkp {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.ProductCard__learnMoreInfoContainerlearnMore___6GSkpOklBv {
  margin-top: calc(0px + 10px) !important;
  padding-top: 8px;
  height: auto;
}
.ProductCard__learnMoreInfoContainerwithoutScreenshotButtons___6GSkp5HQgZ {
  display: none;
}
.ProductCard__learnMoreInfoContainerlearnMoreWithAddRemove___6GSkpliXrj {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.ProductCard__img__iXegC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 257px;
  height: 75px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.ProductCard__img__iXegC > picture > img {
  object-fit: cover;
}
.ProductCard__img__iXegC > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__imglearnMore__iXegCOklBv {
  left: auto;
  top: auto;
  height: 100%;
  min-height: 0;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ {
  height: 125px;
  object-fit: contain;
  flex-shrink: 0;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ > picture > img {
  object-fit: contain;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ
  > .__wab_img-spacer
  > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj {
  left: auto;
  top: auto;
  object-fit: contain;
  height: 125px;
  width: 250px;
  max-width: none;
  flex-shrink: 0;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj > picture > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj > .__wab_img-spacer > img {
  object-fit: contain;
}
.ProductCard__text___796N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: none;
}
.ProductCard__textlearnMore___796NOklBv {
  display: block;
}
.ProductCard__freeBox__uy0Et {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__uy0ETliXrj {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  padding: 0px;
}
.ProductCard__freeBox___3YWX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ProductCard__freeBoxwithoutScreenshotButtons___3YWX5HQgZ {
  padding-left: 0px;
  padding-right: 0px;
}
.ProductCard__freeBoxlearnMoreWithAddRemove___3YWXliXrj {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 0px;
}
.ProductCard__h2__w753B {
  plasmic-display-none: false;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__w753BliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}
.ProductCard__slotTargetToolLearnMorelearnMoreWithAddRemove__hQbaLiXrj {
  text-align: left;
}
.ProductCard__addRemoveButton__rkY9R.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: block;
}
.ProductCard__h2__f6Zi {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__f6ZiliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox___0HGbF {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMore___0HGbFOklBv {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: 336px;
  flex-shrink: 0;
}
.ProductCard__freeBoxlearnMoreWithAddRemove___0HGbFliXrj {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: auto;
  margin: 0px;
}
.ProductCard__freeBox__hhS {
  display: flex;
  position: relative;
  flex-direction: column;
}
.ProductCard__freeBoxwithReviews__hhSVvVo9 {
  display: none;
}
.ProductCard__freeBoxwithoutScreenshot__hhSUtYkz {
  display: none;
}
.ProductCard__freeBoxlearnMore__hhSOklBv {
  position: relative;
  left: auto;
  top: auto;
}
.ProductCard__freeBoxonlyLearnMore__hhSTEu15 {
  display: none;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__hhSLiXrj {
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 5px;
}
.ProductCard__img__mOmBg {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
  flex-shrink: 0;
}
.ProductCard__img__mOmBg > picture > img {
  object-fit: contain;
}
.ProductCard__img__mOmBg > .__wab_img-spacer > img {
  object-fit: contain;
}
.ProductCard__h2__najW {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__najWliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__vBf2M {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMore__vBf2MOklBv {
  width: 470px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__vBf2MliXrj {
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 10px;
}
.ProductCard__h2__uSVz {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__uSVzliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__emvgm {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMore__emvgmOklBv {
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__emvgmliXrj {
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px 0px 10px;
}
.ProductCard__h2__ygAew {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__ygAewliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__wfCuQ {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMore__wfCuQOklBv {
  width: 470px;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__wfCuQliXrj {
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 5px;
}
.ProductCard__freeBox__wu44J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.ProductCard__freeBoxwithReviews__wu44JvvVo9 {
  display: none;
}
.ProductCard__freeBoxwithoutScreenshot__wu44JUtYkz {
  display: none;
}
.ProductCard__freeBoxlearnMore__wu44JOklBv {
  position: absolute;
  left: 434px;
  top: 1px;
}
.ProductCard__freeBoxonlyLearnMore__wu44JtEu15 {
  display: none;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__wu44JliXrj {
  position: absolute;
  left: 434px;
  top: 1px;
  display: flex;
}
.ProductCard__exitLearnMoreButton___6Q3Fz.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.ProductCard__basicInfoContainer__yg7Mp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 15px;
}
.ProductCard__basicInfoContainerlearnMore__yg7MpOklBv {
  display: none;
}
.ProductCard__basicInfoContainerlearnMoreWithAddRemove__yg7MpliXrj {
  display: none;
}
.ProductCard__img___0SrCv {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 257px;
  align-self: center;
  flex-shrink: 0;
}
.ProductCard__img___0SrCv > picture > img {
  object-fit: cover;
}
.ProductCard__img___0SrCv > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ {
  max-width: none;
  height: 125px;
  object-fit: contain;
  left: auto;
  top: auto;
  width: 250px;
  flex-shrink: 0;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ > picture > img {
  object-fit: contain;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ
  > .__wab_img-spacer
  > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove___0SrCVliXrj {
  left: auto;
  top: auto;
}
.ProductCard__freeBox__fCpId {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.ProductCard__titleLearnMoreButton__mFsBh.__wab_instance {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
