.AddRemoveButton__root___2GPd2 {
  width: 130px;
  color: #fffafa;
  text-align: center;
  position: relative;
  background: linear-gradient(#2bc744, #2bc744), #015906;
  padding: 3px;
}
.AddRemoveButton__root__removeToolFromSite___2GPd2Vv3Fi {
  background: linear-gradient(#ff0000, #ff0000),
    linear-gradient(#2bc744, #2bc744), #015906;
}
