.ExitLearnMoreButton__root__nnKr {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  background: var(--token-KUP1ALzL2);
  padding: 0px;
}
.ExitLearnMoreButton__svg__xxYgT {
  object-fit: cover;
  color: var(--token-q3GGh67XP5qyE);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.ExitLearnMoreButton__root__nnKr .ExitLearnMoreButton__svg__xxYgT {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
