.ProductCard__root___1U08P {
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 938px;
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  background: var(--token-q3GGh67XP5qyE);
  padding-left: 10px;
  padding-right: 18px;
  border: 3px solid var(--token-HxoWIRXur);
}
.ProductCard__root___1U08P > .__wab_flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.ProductCard__root___1U08P > .__wab_flex-container > *,
.ProductCard__root___1U08P > .__wab_flex-container > .__wab_slot > *,
.ProductCard__root___1U08P > .__wab_flex-container > picture > img,
.ProductCard__root___1U08P
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-top: 10px;
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ {
  height: 300px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > *,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > .__wab_slot
  > *,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > picture
  > img,
.ProductCard__rootwithoutScreenshotButtons___1U08P5HQgZ
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-left: 0px;
  margin-top: 30px;
}
.ProductCard__rootlearnMoreWithAddRemove___1U08PliXrj {
  width: 475px;
  overflow: hidden;
  height: 1100px;
}
.ProductCard__learnMoreInfoContainer___6GSkp {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.ProductCard__learnMoreInfoContainerwithoutScreenshotButtons___6GSkp5HQgZ {
  display: none;
}
.ProductCard__learnMoreInfoContainerlearnMoreWithAddRemove___6GSkpliXrj {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.ProductCard__img__iXegC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 257px;
  height: 75px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.ProductCard__img__iXegC > picture > img {
  object-fit: cover;
}
.ProductCard__img__iXegC > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ {
  height: 125px;
  object-fit: contain;
  flex-shrink: 0;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ > picture > img {
  object-fit: contain;
}
.ProductCard__imgwithoutScreenshotButtons__iXegC5HQgZ
  > .__wab_img-spacer
  > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj {
  left: auto;
  top: auto;
  object-fit: contain;
  height: 125px;
  width: 250px;
  max-width: none;
  flex-shrink: 0;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj > picture > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove__iXegCliXrj > .__wab_img-spacer > img {
  object-fit: contain;
}
.ProductCard__freeBox__uy0Et {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__uy0ETliXrj {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  padding: 0px;
}
.ProductCard__freeBox___3YWX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 50%;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.ProductCard__freeBoxwithoutScreenshotButtons___3YWX5HQgZ {
  padding-left: 0px;
  padding-right: 0px;
}
.ProductCard__freeBoxlearnMoreWithAddRemove___3YWXliXrj {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 0px;
}
.ProductCard__h2__w753B {
  plasmic-display-none: false;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__w753BliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}
.ProductCard__slotTargetToolLearnMorelearnMoreWithAddRemove__hQbaLiXrj {
  text-align: left;
}
.ProductCard__addRemoveButton__rkY9R.__wab_instance {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
  margin-left: 20px;
  flex-shrink: 0;
  display: block;
}
.ProductCard__h2__f6Zi {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__f6ZiliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox___0HGbF {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMoreWithAddRemove___0HGbFliXrj {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: auto;
  margin: 0px;
}
.ProductCard__freeBox__hhS {
  display: flex;
  position: relative;
  flex-direction: column;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__hhSLiXrj {
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 5px;
}
.ProductCard__img__mOmBg {
  position: relative;
  left: auto;
  top: auto;
  width: 344px;
  height: 210px;
  object-fit: contain;
  flex-shrink: 0;
}
.ProductCard__img__mOmBg > picture > img {
  object-fit: contain;
}
.ProductCard__img__mOmBg > .__wab_img-spacer > img {
  object-fit: contain;
}
.ProductCard__h2__najW {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__najWliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__vBf2M {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__vBf2MliXrj {
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 10px;
}
.ProductCard__h2__uSVz {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__uSVzliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__emvgm {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__emvgmliXrj {
  position: relative;
  left: auto;
  top: auto;
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px 0px 10px;
}
.ProductCard__h2__ygAew {
  plasmic-display-none: false;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ProductCard__h2learnMoreWithAddRemove__ygAewliXrj {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ProductCard__freeBox__wfCuQ {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__wfCuQliXrj {
  width: 470px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 0px 5px;
}
.ProductCard__freeBox__wu44J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.ProductCard__freeBoxlearnMoreWithAddRemove__wu44JliXrj {
  position: absolute;
  left: 434px;
  top: 1px;
  display: flex;
}
.ProductCard__exitLearnMoreButton___6Q3Fz.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.ProductCard__basicInfoContainer__yg7Mp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 15px;
}
.ProductCard__basicInfoContainerlearnMoreWithAddRemove__yg7MpliXrj {
  display: none;
}
.ProductCard__img___0SrCv {
  position: relative;
  object-fit: cover;
  height: 79px;
  left: auto;
  top: auto;
  width: 257px;
  align-self: center;
  flex-shrink: 0;
}
.ProductCard__img___0SrCv > picture > img {
  object-fit: cover;
}
.ProductCard__img___0SrCv > .__wab_img-spacer > img {
  object-fit: cover;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ {
  max-width: none;
  height: 125px;
  object-fit: contain;
  left: auto;
  top: auto;
  width: 250px;
  flex-shrink: 0;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ > picture > img {
  object-fit: contain;
}
.ProductCard__imgwithoutScreenshotButtons___0SrCv5HQgZ
  > .__wab_img-spacer
  > img {
  object-fit: contain;
}
.ProductCard__imglearnMoreWithAddRemove___0SrCVliXrj {
  left: auto;
  top: auto;
}
.ProductCard__freeBox__fCpId {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.ProductCard__titleLearnMoreButton__mFsBh.__wab_instance {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
